<section class="page-wrapper task-list-container"><div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <h3 class="board-name">{{boardName}}</h3>
			<div class="list-card" *ngFor='let task of tasksList;let i = index'>
				<input type="text" [ngModel]='task.list_name' [readonly]='!listReadOnly' (click)='listReadOnly=true' [ngClass]="{'editable':false}">
                
 <div class="btn-group actions list-actions" dropdown>
  <button dropdownToggle type="button" class="dropdown-toggle">
   ...
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Add card</a></li>
    <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)='deleteList(tasks.board_id,task._id)'>Delete List</a></li>
   
  </ul>
</div>
                <div class="clear"></div>
				<!--<div class="task-item" *ngFor='let taskitem of task.taskCategory.tasks' appEditTask>
					<span class="edit" endableEdit (click)="editTask(taskitem.name)"><img src='assets/pencil-edit-button.svg'></span>
					<h4>{{taskitem.name}}</h4>
					<div class="edit-task">
						<input type="text" [(ngModel)]="taskitem.name" class='form-control'>
						<button class="btn btn-default green" >Save</button>
						<button class="btn btn-default" (click)="taskitem.name=taskitemOldname">Cancel</button>
						<div class="clear"></div>
					</div>
				</div>-->
				<div class="task-item new-card" *ngIf='showCreateTasks'>
					<div class="edit-task">
						<textarea class='form-control'></textarea>
						<button class="btn btn-default green">Save</button>
						<div class="clear"></div>
					</div>
				</div>
				<a href='#' (click)='createList()'>Add a card</a>
			</div>
            <div class="list-card create-list-card" [ngClass]="{'create-open':showCreateLists}">
                 <div (click)='showCreateLists=true' ><a href='javascript:;' >Create a new list..</a></div>
                <div class='create-list' *ngIf='showCreateLists'>
                    <form (submit)='createList(listName,tasks.board_id)'>
                    <input type="text" [(ngModel)]='listName' name="listname" class="form-control">
                    <button type="submit" class="btn btn-default green">Save</button>
                    <button type="button" class="btn btn-default" (click)='showCreateLists=false'>Cancel</button>
                    <div class="clear"></div>
                    </form>    
                </div>
               
            </div> 
		</div>
	</div>
</div>
</section>

