<section class="page-wrapper task-list-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="board-name">{{boardName}}</h3>

                <div class="list-card" *ngFor='let task of newTasksList;let i = index'>
                    <input type="text" [(ngModel)]='task.list_name' readonly class='edit-list-name' (change)='updateListName(task._id,task.list_name)' appEditTask [ngClass]='{"form-control":false}'>
                    <span *ngIf='updateError'>{{updateErrorMsg}}</span>
                    <div class="btn-group actions list-actions" dropdown>
                        <button dropdownToggle type="button" class="dropdown-toggle">
   ...
  </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)='deleteList(tasks.board_id,task._id)'>Delete List</a></li>

                        </ul>
                    </div>
                    <div class="clear"></div>
                    <template #itemTemplate let-item="item" let-index="index">
                                        <h4 class="task-name">{{item.value.task_name}}</h4>
                                        <div class="edit-task-name edit-dialog">
                                            <input type="text"  [(ngModel)]='item.value.task_name' class="form-control">
                                            <button class="btn btn-default green save-card" (click)='updateTaskName(item.value._id,item.value.task_name)'>Save</button>
                                            <button class="btn btn-default cancel-card">Cancel</button>
                                            <div class="clear"></div>
                                            <div class="close-btn cancel-card" (click)='deleteTask(task._id,item.value._id)'>&times; Delete Task </div>
                                        </div>
                </template>
                    <bs-sortable [(ngModel)]="task.tasks" [itemTemplate]="itemTemplate" itemClass="task-item sortable-item" itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper" onChange='console.log("sadsd")'></bs-sortable>
                    <div class="task-item new-card edit-dialog">
                        <div class="edit-task">
                            <textarea class='form-control' [(ngModel)]='taskName'></textarea>
                            <button class="btn btn-default green save-card" (click)='createTask(taskName,task._id)'>Save</button>
                            <button class="btn btn-default cancel-card" (click)='cancelAddCard()'>Cancel</button>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <a href='javascript:;' class="add-card" appEditTask>Add a task</a>
                </div>
                <div class="list-card create-list-card" [ngClass]="{'create-open':showCreateLists}">
                    <div (click)='showCreateLists=true'><a href='javascript:;'>Create a new list..</a></div>
                    <div class='create-list' *ngIf='showCreateLists'>
                        <form (submit)='createList(listName,tasks.board_id)'>
                            <input type="text" [(ngModel)]='listName' name="listname" class="form-control">
                            <span *ngIf='updateError'>{{updateErrorMsg}}</span>
                            <button type="submit" class="btn btn-default green">Save</button>
                            <button type="button" class="btn btn-default" (click)='hideCreateList()'>Cancel</button>
                            <div class="clear"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>