h2{
	font-size:20px;
	font-weight:600;
}

.board-cont{
    position: relative;
    width: 250px;
	height: 100px;
    
	margin: 0px 10px 10px 0px;
	display: inline-block;
	.close-board{
		position: absolute;
		right: 10px;
		cursor: pointer;
		display: none;
        z-index: 99;
		top: 15px;
		img{
			width: 10px;
            height: 10px;
		}
		
	}
    &:hover{
        
		.close-board{
			display: block;
		}
	}
}
.board{
	position: relative;
	padding:10px 15px;
	background: #11674d;
	color: #fff;
    cursor: pointer;
	width: 250px;
	height: 100px;
	display: inline-block;
	border-radius: 3px;
	vertical-align: middle;
	h3{
		margin-top: 0px;
		font-size: 18px;
	}
	&:hover{
        background: rgba(17, 103, 77, 0.95);
		
	}
	&.create-board{
        padding: 0px;
        .create-board-padding{
            padding: 10px 0px;
        }
		background: #eee;
		color: #333;
        cursor: pointer;
		h3{
			text-align: center;
			margin: 25px 0px;
		}
		.create-board-form{
		position: absolute;
		background: #fff;
			width: 100%;
			border:1px solid #eee;
			padding: 15px;
		}
	}
}
